* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    color: white;
    scroll-behavior: smooth;
}

::selection {
    background-color: transparent;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-image: radial-gradient(circle at 2px 2px, #757f9aa7 0px, transparent 2px);
    background-size: 25px 25px;
    background-position: 5% 25%;
}

main {
    background: -webkit-linear-gradient(to top, #757F9A, #D7DDE8);
    background: linear-gradient(to top, #757F9A, #D7DDE8);
    height: 65vh;
    width: 30vw;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    position: relative;
}

@media screen and (max-width: 600px) {
    main {
        width: 80svw;
        height: 60svh;
    }

    #no-net-alert {
        width: 95svw !important;
        font-size: 18px !important;
    }
}

@media screen and (min-width: 601px) and (max-width: 875px) {
    main {
        width: 65vw;
        height: 60vh;
    }

    #no-net-alert {
        width: 70vw !important;
    }
}

#net-speed::before {
    content: "";
    position: absolute;
    background: -webkit-linear-gradient(to bottom, #1F1C2C, #928DAB);
    background: linear-gradient(to bottom, #1F1C2C, #928DAB);
    border: 3px solid white;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    border-radius: 50%;
    width: 25vh;
    height: 25vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#net-speed {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    top: 25%;
    width: 25%;
    z-index: 0;
}

#net-speed::after {
    display: var(--display, none);
    content: "";
    position: absolute;
    border: 8px double rgb(255, 255, 255);
    border-radius: 50%;
    width: 25vh;
    height: 25vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    animation: checking 1s linear infinite;
}

@keyframes checking {
    100% {
        width: 30vh;
        height: 30vh;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}

#check-speed {
    position: absolute;
    bottom: 15%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    border-radius: 15px;
    width: 60%;
    height: 10svh;
    cursor: pointer;
}

@media(hover:hover) {
    #check-speed:hover {
        background: linear-gradient(to bottom, #000000, #464647);
        border-bottom: 2px solid black;
    }
}

#check-speed:active {
    transform: scale(0.95);
    cursor: progress;
}

#no-net-alert {
    position: absolute;
    height: 10vh;
    width: 35vw;
    top: 1%;
    transform: translateY(-125%);
    transition: transform .2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 2px 3px red;
    border-radius: 8px;
    background: -webkit-linear-gradient(to bottom, #f8a6b1, #ffdde1);
    background: linear-gradient(to bottom, #f8a6b1, #ffdde1);
    color: red;
    font-size: 20px;
    font-weight: bold;
}